@using MPIntranet.Models.Common
@{
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
}

<div class="content-top">
    <h2>Ricerca Articolo</h2>
    <div class="row">
        @Html.Hidden("hdTipoRicerca", ViewData["TipoRicerca"])
        <div class="col-md-1">
            @Html.Label("Brand")
            @Html.DropDownList("ddlBrand", new SelectList(@ViewData["Brand"] as List<MPIntranetListItem>, "Value", "Text"), new { @class = "form-control input-sm", @id = "ddlBrand" })
        </div>
        <div class="col-sm-1">
            @Html.Label("Anagrafica")
            @Html.TextBox("txtAnagrafica", "", new { @maxlength = "20", @class = "form-control input-sm" })
        </div>
        <div class="col-sm-1">
            @Html.Label("Descrizione")
            @Html.TextBox("txtDescrizione", "", new { @maxlength = "80", @class = "form-control input-sm" })
        </div>
        <div class="col-sm-1">
            @Html.Label("Codice colore")
            @Html.TextBox("txtColore", "", new { @maxlength = "15", @class = "form-control input-sm" })
        </div>
        <div class="col-sm-1">
            @Html.Label("Codice cliente")
            @Html.TextBox("txtCodiceCliente", "", new { @maxlength = "20", @class = "form-control input-sm" })
        </div>
        <div class="col-sm-1" style="padding-top:15px">
            <button class="btn btn-box-tool" onclick="TrovaArticolo()" title="Trova" type="button"><i class="fa fa-search input-sm"></i></button>
        </div>
    </div>
</div>
<div class="content-scheda" style="overflow-y:auto; overflow-x:hidden; height:700px">
    <div class="row">
        <div id="divRisultati" class="content-searchSPC">
        </div>
    </div>

    <br />
</div>

<div class="control-sidebar-bg"></div>
<script language="javascript" type="text/javascript">

    $(function () {


    });

    function TrovaArticolo() {
        var tipoRicerca = $('#hdTipoRicerca').val();
        var anagrafica = $('#txtAnagrafica').val();
        var descrizione = $('#txtDescrizione').val();
        var colore = $('#txtColore').val();
        var brand= $('#ddlBrand').val();
        var codiceCliente = $('#txtCodiceCliente').val();

        if (brand == null) brand = -1;

          var url = '@Url.Action("TrovaArticolo", "Articolo")';
            $.ajax({
                url: url,
                data: {
                    anagrafica: anagrafica,
                    descrizione: descrizione,
                    idBrand: brand,
                    codiceCliente: codiceCliente,
                    colore: colore,
                    tipoRicerca: tipoRicerca
                },
                cache: false,
                type: "POST",
                success: function (data)
                {
                    $('#divRisultati').html(data).show();
                },
                error: function (response)
                {
                    document.open();
                    document.write(response.responseText);
                    document.close();
                }
            });
    }


</script>
