


@using MPIntranet.Models.Report
@model List<CaricoRepartoModel>

@if (Model != null && Model.Count() == 0)
{
    <text><b>Nessun risultato trovato</b></text>
}
else
{
    <div>
        <table id="grigliaRisultati" class="table table-condensed table-hover">
            <thead style="background-color:aliceblue">
                <tr>
                    <th width="6%">Azienda</th>
                    <th width="6%">Tipo lancio</th>
                    <th width="7%">Reparto</th>
                    <th width="7%">Numero</th>
                    <th width="7%">Commessa</th>
                    <th width="7%">Segnalatore</th>
                    <th width="7%">Tipo</th>
                    <th width="10%">Modello</th>
                    <th width="10%">WIP</th>
                    <th width="7%">Fasi</th>
                    <th width="7%">Data</th>
                    <th width="7%">Quantità</th>
                    <th width="7%">Incompleto</th>
                    <th></th>
                </tr>
            </thead>
        </table>

    </div>
    <div style="overflow-y:auto; overflow-x:hidden; height:600px">
        <table id="grigliaRisultati" class="table table-condensed table-hover">
            <tbody>
                @foreach (CaricoRepartoModel carico in Model)
                {
                    <tr>
                        <td width="6%">@carico.Azienda</td>
                        <td width="6%">@string.Format("{0}-{1}", carico.Codicetipoo, carico.Destipolancio)</td>
                        <td width="7%">@carico.Ragionesoc</td>
                        <td width="7%">@carico.Nummovfase</td>
                        <td width="7%">@carico.Nomecommessa</td>
                        <td width="7%">@carico.Segnalatore</td>
                        <td width="7%">@carico.Codtipomovfase</td>
                        <td width="10%">@carico.Modello_Lancio</td>
                        <td width="10%">@carico.Modello_Wip</td>
                        <td width="7%">@carico.Elencofasi</td>
                        <td width="7%">@carico.Datamovfase.ToShortDateString()</td>
                        <td width="7%">@carico.Qta</td>
                        <td width="7%">@carico.Qtadater</td>
                        <td></td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
}

