@using MPIntranet.Models.Report
@model List<OrdiniAttiviModel>

@if (Model != null && Model.Count() == 0)
{
    <text><b>Nessun risultato trovato</b></text>
}
else
{
    <div style="overflow-y:auto; overflow-x:hidden; height:600px">
        <table id="grigliaRisultati" class="table table-condensed table-hover">
            <thead style="background-color:aliceblue">
                <tr>
                    <th width="20%">Cliente</th>
                    <th width="8%">Quantità</th>
                    <th width="8%">Quantità no sped</th>
                    <th width="8%">Quantità scaduta</th>
                    <th width="8%">Quantità annullata</th>
                    <th width="8%">Valore</th>
                    <th width="8%">Valore no sped</th>
                    <th width="8%">Valore scaduto</th>
                    <th width="8%">Valore annullato</th>
                    <th width="8%">Perc scad cli</th>
                    <th width="8%">Perc scad tot</th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (OrdiniAttiviModel report in Model)
                {
                <tr>
                    <td width="20%">@report.Cliente</td>
                    <td width="8%">@report.Quantita</td>
                    <td width="8%">@report.QuantitaNonSpedita</td>
                    <td width="8%">@report.QuantitaScaduta</td>
                    <td width="8%">@report.QuantitaAnnullata</td>
                    <td width="8%">@report.Valore</td>
                    <td width="8%">@report.ValoreNonSpedito</td>
                    <td width="8%">@report.ValoreScaduto</td>
                    <td width="8%">@report.ValoreAnnullato</td>
                    <td width="8%">@report.PercScadutoCliente</td>
                    <td width="8%">@report.PercScadutoSulTotale</td>
                    <td></td>
                </tr>

                }
            </tbody>
        </table>
    </div>
}

