@using MPIntranet.Models.Manutenzione
@model List<MacchinaModel>

@if (Model != null && Model.Count() == 0)
{
    <text><b>Nessun risultato trovato</b></text>
}

else
{
    <table id="grigliaMacchine" class="table table-condensed table-hover">
        <thead style="background-color:aliceblue">
            <tr>
                <th></th>
                <th width="10%">Numero di serie</th>
                <th width="10%">Descrizione</th>
                <th width="10%">Ditta</th>
                <th width="10%">Data costruzione</th>
                <th width="10%">Luogo</th>
                <th width="10%">Componente di</th>
                <th width="30%">Nota</th>
                <th width="2%"></th>
                <th width="2%"></th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            @foreach (MacchinaModel td in Model)
            {
                <tr>
                    <td colspan="2" height="60">
                        <input type="hidden" class="hdIdManutentore" value="@td.IdMacchina" />
                        @td.NumeroSerie
                    </td>
                    <td height="60">
                        @td.Descrizione
                    </td>
                    <td height="60">
                        @td.Ditta.RagioneSociale
                    </td>
                    <td height="60">
                        @td.DataCostruzione
                    </td>
                    <td height="60">
                        @Html.TextBox("txtLuogoS", td.Luogo, new { @class = "form-control input-sm ", @id = "txtLuogoS", @maxlength = "45" })
                    </td>
                    <td height="60">
                        @if (td.Padre != null)
                        {
                            @td.Padre.ToString();
                        }
                    </td>
                    <td height="60">
                        @Html.TextBox("txtNotaS", td.Nota, new { @class = "form-control input-sm ", @id = "txtNotaS", @maxlength = "100" })
                    </td>
                    <td align="right">
                        @if ((ViewData["MenuAbilitati"] as List<decimal>).Contains(123))
                        {
                            <a onclick="ModificaMacchina(this,@td.IdMacchina)" title="Modifica"><i class="fa fa-fw fa-pencil"></i></a>
                        }
                    </td>
                    <td align="right">
                        @if ((ViewData["MenuAbilitati"] as List<decimal>).Contains(122))
                        {
                            <a onclick="CancellaMacchina(@td.IdMacchina)" title="Cancella"><i class="fa fa-fw fa-remove"></i></a>
                        }
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td height="2%"></td>
                    <td colspan="3">
                        @Html.Partial("~/Views/Documenti/CaricaDocumentiPartial.cshtml", td.Documenti, ViewData)
                    </td>
                    <td></td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>

}

<script language="javascript" type="text/javascript">
    $(function () {

        $('#grigliaDitte tbody tr').click(function () {

            var tds = $(this).find('td');


        });
    });


</script>
