@using MPIntranet.Models.Common
@{
    ViewBag.Title = "Macchine";
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
}

<div class="content-top">
    <h2>Gestione Macchine</h2>
</div>
<div id="ArticleScrolledContent" class="content-scheda" style="overflow-y:auto; overflow-x:hidden">

    @if ((ViewData["MenuAbilitati"] as List<decimal>).Contains(121))
    {
        <div class="row col-lg-12">
            <table class="table">
                <thead>
                    <tr>
                        <th width="10%">Numero di serie</th>
                        <th width="10%">Descrizione</th>
                        <th width="10%">Ditta</th>
                        <th width="10%">Data costruzione</th>
                        <th width="10%">Luogo</th>
                        <th width="10%">Componente di</th>
                        <th width="30%">Nota</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="10%">
                            @Html.TextBox("txtNumeroSerie", null, new { @class = "form-control input-sm ", @id = "txtNumeroSerie", @maxlength = "20" })
                        </td>
                        <td width="10%">
                            @Html.TextBox("txtDescrizione", null, new { @class = "form-control input-sm ", @id = "txtDescrizione", @maxlength = "45" })
                        </td>
                        <td width="10%">
                            @Html.DropDownList("ddlDitte", new SelectList(@ViewData["Ditte"] as List<MPIntranetListItem>, "Value", "Text"), new { @class = "form-control input-sm", @id = "ddlDitte" })
                        </td>
                        <td width="10%">
                            @Html.TextBox("txtData", null, new { @class = "form-control input-sm ", @id = "txtData", @type = "date" })
                        </td>
                        <td width="10%">
                            @Html.TextBox("txtLuogo", null, new { @class = "form-control input-sm ", @id = "txtLuogo", @maxlength = "45" })
                        </td>
                        <td width="10%">
                            @Html.DropDownList("ddlPadre", new SelectList(@ViewData["Padre"] as List<MPIntranetListItem>, "Value", "Text"), new { @class = "form-control input-sm", @id = "ddlPadre" })
                        </td>
                        <td width="30%">
                            @Html.TextBox("txtNota", null, new { @class = "form-control input-sm ", @id = "txtNota", @maxlength = "100" })
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row col-lg-2">
            <div style="display:inline-block; width:50%">
                <input type="button" onclick="AggiungiNuovo();" class="btn btn-primary" value="Nuova macchina" />
            </div>
        </div>
    }
    <label class="text-red input-sm" id="lblMessage"></label>
    <br />
    <div class="col-md-12" id="divRisultati" style="overflow-y:auto; overflow-x:hidden; height:750px">

    </div>

</div>

<script language="javascript" type="text/javascript">
    $(function () {
        caricaDati();
    });
    function CancellaMacchina(idMacchina) {

     var url = '@Url.Action("CancellaMacchina", "Manutenzione")';
            $.ajax({
                url: url,
                data: {
                    IdMacchina: idMacchina
                },
                cache: false,
                type: "POST",
                success: function (data)
                {
                    caricaDati();
                },
                error: function (response)
                {
                    document.open();
                    document.write(response.responseText);
                    document.close();
                }
            });
    }

    function caricaDati() {
         var url = '@Url.Action("CaricaMacchine", "Manutenzione")';
        $.ajax({
            url: url,
            data: {
            },
            cache: false,
            type: "POST",
            success: function (data)
            {
                $('#divRisultati').html(data).show();
                $('#txtNumeroSerie').val('');
                $('#txtDescrizione').val('');
                $('#ddlDitte').val('');
                $('#txtLuogo').val('');
                $('#ddlPadre').val('');
                $('#txtNota').val('');
                $('#txtData').val('');
            },
            error: function (response)
            {
                document.open();
                document.write(response.responseText);
                document.close();
            }
        });
    }

     function AggiungiNuovo()
    {
         var numeroSerie = $('#txtNumeroSerie').val();
         var descrizione = $('#txtDescrizione').val();
         var ditta = $('#ddlDitte').val();
         var luogo = $('#txtLuogo').val();
         var padre = $('#ddlPadre').val();
         var nota = $('#txtNota').val();
         var data = $('#txtData').val();

        var esito = true;
        var messaggio = '';

         if (numeroSerie =='' )
        {
            esito=false;
            messaggio += MESSAGGIO_PUNTINO + " " + "Numero di serie " + " " + MESSAGGIO_DEVE_ESSERE_VALORIZZATO + "</br>";
        }

         if (descrizione == '') {
             esito = false;
             messaggio += MESSAGGIO_PUNTINO + " " + "Descrizione " + " " + MESSAGGIO_DEVE_ESSERE_VALORIZZATO + "</br>";
         }

         if (luogo == null)
             luogo = '';

         if (padre == null|| padre == '')
             padre = -1;

         if (nota == null)
             nota = '';

         if (data == null||data=='')
             data = '';

         if (ditta == '') {
             esito = false;
             messaggio += MESSAGGIO_PUNTINO + " " + "Ditta" + " " + MESSAGGIO_DEVE_ESSERE_VALORIZZATO + "</br>";
         }

        $('#lblMessage').html(messaggio);
        if(!esito) return;


        var url = '@Url.Action("CreaMacchina", "Manutenzione")';
        $.ajax({
            url: url,
            data: {
                NumeroSerie: numeroSerie,
                Descrizione: descrizione,
                IdDitta: ditta,
                Luogo: luogo,
                IdPadre: padre,
                Nota: nota,
                DataCostruzione:data

            },
            cache: false,
            type: "POST",
            success: function (data)
            {
                if (data == null || data == '') {
                    caricaDati();
                }
                else {
                    $('#lblMessage').html(data);
                }
            },
            error: function (response)
            {
                document.open();
                document.write(response.responseText);
                document.close();
            }
        });
    }

    function ModificaMacchina(sender, idMacchina)
    {
          var parent = $(sender).closest('tr');
          var tds = parent.find('td');

        var luogo = $(parent).find('#txtLuogoS').val();
        var nota = $(parent).find('#txtNotaS').val();

        var messaggio = '';

        if (luogo == null)
            luogo = '';

        if (nota == null)
            nota = '';

        $('#lblMessage').html(messaggio);


        var url = '@Url.Action("ModificaMacchina", "Manutenzione")';
        $.ajax({
            url: url,
            data: {
                IdMacchina: idMacchina,
                Luogo: luogo,
                Nota: nota
            },
            cache: false,
            type: "POST",
            success: function (data)
            {

                if (data == null || data == '') {
                    caricaDati();
                }
                else {
                    $('#lblMessage').html(data);
                }
            },
            error: function (response)
            {
                document.open();
                document.write(response.responseText);
                document.close();
            }
        });
    }
</script>

