@using MPIntranet.Models.Common
@{
    ViewBag.Title = "Manutentori";
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
}

<div class="content-top">
    <h2>Gestione Ditte</h2>
</div>
<div id="ArticleScrolledContent" class="content-scheda" style="overflow-y:auto; overflow-x:hidden">

    @if ((ViewData["MenuAbilitati"] as List<decimal>).Contains(121))
    {
        <div class="row col-lg-12">
            <table class="table">
                <thead>
                    <tr>
                        <th width="10%">Nome Cognome</th>
                        <th width="10%">Account</th>
                        <th width="10%">Ditta</th>
                        <th width="30%">Nota</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="10%">
                            @Html.TextBox("txtNomeCognome", null, new { @class = "form-control input-sm ", @id = "txtNomeCognome", @maxlength = "45" })
                        </td>
                        <td width="10%">
                            @Html.TextBox("txtAccount", null, new { @class = "form-control input-sm ", @id = "txtAccount", @maxlength = "45" })
                        </td>
                        <td width="10%">
                            @Html.DropDownList("ddlDitte", new SelectList(@ViewData["Ditte"] as List<MPIntranetListItem>, "Value", "Text"), new { @class = "form-control input-sm", @id = "ddlDitte" })
                        </td>
                        <td width="30%">
                            @Html.TextBox("txtNota", null, new { @class = "form-control input-sm ", @id = "txtNota", @maxlength = "100" })
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row col-lg-2">
            <div style="display:inline-block; width:50%">
                <input type="button" onclick="AggiungiNuovo();" class="btn btn-primary" value="Nuovo manutentore" />
            </div>
        </div>
    }
    <label class="text-red input-sm" id="lblMessage"></label>
    <br />
    <div class="col-md-12" id="divRisultati" style="overflow-y:auto; overflow-x:hidden; height:750px">

    </div>

</div>

<script language="javascript" type="text/javascript">
    $(function () {
        caricaDati();
    });
    function CancellaManutentore(idManutentore) {

     var url = '@Url.Action("CancellaManutentore", "Manutenzione")';
            $.ajax({
                url: url,
                data: {
                    IdManutentore: idManutentore
                },
                cache: false,
                type: "POST",
                success: function (data)
                {
                    caricaDati();
                },
                error: function (response)
                {
                    document.open();
                    document.write(response.responseText);
                    document.close();
                }
            });
    }

    function caricaDati() {
         var url = '@Url.Action("CaricaManutentori", "Manutenzione")';
        $.ajax({
            url: url,
            data: {
            },
            cache: false,
            type: "POST",
            success: function (data)
            {
                $('#divRisultati').html(data).show();
                $('#txtNomeCognome').val('');
                $('#txtAccount').val('');
                $('#ddlDitte').val('');
                $('#txtNota').val('');
            },
            error: function (response)
            {
                document.open();
                document.write(response.responseText);
                document.close();
            }
        });
    }

     function AggiungiNuovo()
    {
         var NomeCognome = $('#txtNomeCognome').val();
         var Account = $('#txtAccount').val();
         var Ditta = $('#ddlDitte').val();
         var Nota = $('#txtNota').val();

        var esito = true;
        var messaggio = '';

         if (NomeCognome =='' )
        {
            esito=false;
            messaggio += MESSAGGIO_PUNTINO + " " + "Nome cognome" + " " + MESSAGGIO_DEVE_ESSERE_VALORIZZATO + "</br>";
        }

         if (Account == null)
             Account = '';

         if (Nota == null)
             Nota = '';

         if (Ditta == '') {
             esito = false;
             messaggio += MESSAGGIO_PUNTINO + " " + "Ditta" + " " + MESSAGGIO_DEVE_ESSERE_VALORIZZATO + "</br>";
         }

        $('#lblMessage').html(messaggio);
        if(!esito) return;


        var url = '@Url.Action("CreaManutentore", "Manutenzione")';
        $.ajax({
            url: url,
            data: {
                NomeCognome: NomeCognome,
                Account: Account,
                IdDitta: Ditta,
                Nota: Nota

            },
            cache: false,
            type: "POST",
            success: function (data)
            {
                if (data == null || data == '') {
                    caricaDati();
                }
                else {
                    $('#lblMessage').html(data);
                }
            },
            error: function (response)
            {
                document.open();
                document.write(response.responseText);
                document.close();
            }
        });
    }

    function ModificaManutentore(sender, idManutentore)
    {
          var parent = $(sender).closest('tr');
          var tds = parent.find('td');

        var Account = $(parent).find('#txtAccountS').val();
        var Nota = $(parent).find('#txtNotaS').val();

        var messaggio = '';

        if (Account == null)
            Account = '';

        if (Nota == null)
            Nota = '';

        $('#lblMessage').html(messaggio);


        var url = '@Url.Action("ModificaManutentore", "Manutenzione")';
        $.ajax({
            url: url,
            data: {
                IdManutentore: idManutentore,
                Account: Account,
                Nota: Nota
                //Riferimenti: Riferimenti,
            },
            cache: false,
            type: "POST",
            success: function (data)
            {

                if (data == null || data == '') {
                    caricaDati();
                }
                else {
                    $('#lblMessage').html(data);
                }
            },
            error: function (response)
            {
                document.open();
                document.write(response.responseText);
                document.close();
            }
        });
    }
</script>

