@using MPIntranet.Models.Articolo
@model ProcessoModel

<div class="row">
    <div class="col-lg-3">
        @Html.Label("Descrizione")
    </div>
    @if (Model.IdArticolo != MPIntranet.Entities.ElementiVuoti.ArticoloStandard)
    {
    <div class="col-sm-2">
        @Html.Label("Telai")
    </div>
    }
    <div class="col-sm-2">
        @Html.Label("Vasche")
    </div>
</div>
<div class="row">
    <div class="col-lg-3">
        @Html.TextBox("txtDescrizioneProcesso", @Model.Descrizione, new { @class = "form-control input-sm ", @id = "txtDescrizioneProcesso", @maxlength = "30" })
    </div>
    @if (Model.IdArticolo != MPIntranet.Entities.ElementiVuoti.ArticoloStandard)
    {
        <div class="col-sm-2">
            @Html.DropDownList("ddlTelaio", new SelectList(@ViewData["Telai"] as List<MPIntranet.Models.Common.MPIntranetListItem>, "Value", "Text"),Model.Telaio.ToString(), new { @class = "form-control input-sm", @id = "ddlTelaio" })
        </div>
    }
    <div class="col-sm-2">
        @Html.DropDownList("ddlVasca", Enumerable.Empty<SelectListItem>(), new { @class = "form-control input-sm", @id = "ddlVasca" })
    </div>
    <div class="col-sm-1">
        <input type="button" onclick="AggiungiVasca();" class="btn btn-primary" value="Aggiungi vasca" />
    </div>
    <div class="col-sm-1">
        <input type="button" onclick="SalvaProcesso();" class="btn btn-primary" value="Salva processo" />
    </div>
    <div class="col-sm-1">
        <input type="button" onclick="CancellaProcesso();" class="btn btn-primary" value="Cancella processo" />
    </div>
</div>
<div class="row col-lg-12">
    <table id="tblFasi" class="table">
        <thead>
            <tr>
                <th width="15%">Vasca</th>
                <th width="15%">Materiale</th>
                <th width="10%">Durata</th>
                <th width="10%">Corrente</th>
                <th width="3%"></th>
                <th width="3%"></th>
                <th width="3%"></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (FaseProcessoModel fase in Model.Fasi)
            {
                if (fase.Vasca.Materiale.Prezioso == "S")
                {
                    <tr style="font-weight:bold; color:limegreen">
                        <input type="hidden" value="@fase.Vasca.IdVasca" class="hdVasca" />
                        <input type="hidden" value="@fase.IdFaseProcesso" class="hdFaseProcesso" />
                        <td width="15%">@fase.Vasca.DescrizioneBreve</td>
                        <td width="15%">@fase.Vasca.Materiale.Descrizione</td>
                        <td width="8%">@Html.TextBox("txtDurata", fase.Durata, new { @class = "form-control input-sm durata", @id = "txtDurata", @maxlength = "8" })</td>
                        <td width="8%">@Html.TextBox("txtCorrente", fase.Corrente.ToString(), new { @class = "form-control input-sm corrente", @onkeypress = "return FilterDecimal(event,this)", @oninput = "onDecimalInput(this,7,3)" })</td>

                        <td> <a onclick="CambioSequenzaElemento(this,+1, )" title="Sposta in basso"><i class="fa fa-fw fa-arrow-down"></i></a></td>
                        <td><a onclick="CambioSequenzaElemento(this,-1)" title="Sposta in alto"><i class="fa fa-fw fa-arrow-up"></i></a></td>
                        <td><a title="Cancella" onClick="CancellaElemento(this)"><i class="fa fa-fw fa-remove"></i></a></td>
                        <td></td>

                    </tr>

                }
                else
                {
                    <tr>
                        <input type="hidden" value="@fase.Vasca.IdVasca" class="hdVasca" />
                        <input type="hidden" value="@fase.IdFaseProcesso" class="hdFaseProcesso" />
                        <td width="15%">@fase.Vasca.DescrizioneBreve</td>
                        <td width="15%">@fase.Vasca.Materiale.Descrizione</td>
                        <td width="8%">@Html.TextBox("txtDurata", fase.Durata, new { @class = "form-control input-sm durata", @id = "txtDurata", @maxlength = "8" })</td>
                        <td width="8%">@Html.TextBox("txtCorrente", fase.Corrente.ToString(), new { @class = "form-control input-sm corrente", @onkeypress = "return FilterDecimal(event,this)", @oninput = "onDecimalInput(this,7,3)" })</td>

                        <td> <a onclick="CambioSequenzaElemento(this,+1, )" title="Sposta in basso"><i class="fa fa-fw fa-arrow-down"></i></a></td>
                        <td><a onclick="CambioSequenzaElemento(this,-1)" title="Sposta in alto"><i class="fa fa-fw fa-arrow-up"></i></a></td>
                        <td><a title="Cancella" onClick="CancellaElemento(this)"><i class="fa fa-fw fa-remove"></i></a></td>
                        <th></th>
                    </tr>

                }

            }
        </tbody>
    </table>
</div>

<script language="javascript" type="text/javascript">

    function AggiungiVasca() {
        var idVasca = $('#ddlVasca').val();

          var url = '@Url.Action("CaricaVascaModel", "Galvanica")';
         $.ajax({
                url: url,
             data: {
                 idVasca, idVasca
                },
                cache: false,
                type: "POST",
                success: function (data)
                {
                    var idVasca = $('#ddlVasca').val();
                    var vasca = $('#ddlVasca').find("option:selected").text();

                    var materiale = '';
                    var prezioso = '';

                    materiale = data.Materiale.Descrizione;
                    prezioso = data.Materiale.Prezioso;
                    AggiungiRigaInTabella(idVasca,vasca,materiale, prezioso);

                },
                error: function (response)
                {
                    document.open();
                    document.write(response.responseText);
                    document.close();
             }
         });

    }
    function SalvaProcesso() {
        var idTelaio =@MPIntranet.Entities.ElementiVuoti.TelaioVuoto ;
        var idArticolo = $('#hdIdArticolo').val();
        var idImpianto = $('#ddlImpianto').val();
        var idProcesso = $('#ddlProcesso').val();

        if (idArticolo!=@MPIntranet.Entities.ElementiVuoti.ArticoloStandard)
            idTelaio = $('#ddlTelaio').val();

        var descrizione = $('#txtDescrizioneProcesso').val();

        if (descrizione == null || descrizione == '') {
            $('#lblMessage').html("Inserire una descrizione");
            return;
        }

        var vasche = GetVasche();
        if (vasche.length == 0) return;

        var vascheJSON = JSON.stringify(vasche);

             var url = '@Url.Action("SalvaProcesso", "Articolo")';
         $.ajax({
                url: url,
             data: {
                 idArticolo, idArticolo,
                 idImpianto: idImpianto,
                 idProcesso: idProcesso,
                 idTelaio: idTelaio,
                 descrizione: descrizione,
                 vascheJSON: vascheJSON
                },
                cache: false,
                type: "POST",
                success: function (data)
                {
                    InfoPopup(data);
                    var idImpianto = $('#ddlImpianto').val();
                    caricaListaProcessi(idImpianto);
                    $('#lblMessage').html("");
                },
                error: function (response)
                {
                    document.open();
                    document.write(response.responseText);
                    document.close();
             }
         });
    }

    function CancellaProcesso() {
        var idArticolo = $('#hdIdArticolo').val();
        var idImpianto = $('#ddlImpianto').val();
        var idProcesso = $('#ddlProcesso').val();

             var url = '@Url.Action("CancellaProcesso", "Articolo")';
         $.ajax({
                url: url,
             data: {
                 idArticolo, idArticolo,
                 idImpianto: idImpianto,
                 idProcesso, idProcesso
                },
                cache: false,
                type: "POST",
                success: function (data)
                {
                    InfoPopup(data);
                    var idImpianto = $('#ddlImpianto').val();
                    caricaListaProcessi(idImpianto);
                    $('#lblMessage').html("");
                    $('#divProcesso').html("");
                },
                error: function (response)
                {
                    document.open();
                    document.write(response.responseText);
                    document.close();
             }
         });
    }
    function GetVasche() {

        var data = [];
        var trs = $('#tblFasi >tbody >tr');
        for (i = 0; i < trs.length; i++) {
            var tr = trs[i];
            var idvasca = $(".hdVasca", tr).val();
            var idFaseProcesso = $(".hdFaseProcesso", tr).val();
            var durata = $(".durata", tr).val();
            var corrente = $(".corrente", tr).val();

            var vasca = {
                'idFaseProcesso': idFaseProcesso,
                'idvasca': idvasca,
                'durata': durata,
                'corrente': corrente
            };
            data.push(vasca);
        }
        return data;
    }
    function CambioSequenzaElemento(elemento, direzione) {

        var row = $(elemento).closest('tr');
        var numeroRighe = $('#tblFasi tr').length;
        var index = $("tr").index(row);

        if (direzione < 0) {
            if (index == 1) return;
            row.insertBefore(row.prev());
        } else {
            if (index == numeroRighe-1) return;
            row.insertAfter(row.next());
        }


    }
    function CancellaElemento(elemento) {
        $(elemento).closest('tr').remove();
    }
    function AggiungiRigaInTabella(idVasca, vasca, materiale, prezioso) {
        var nuovariga = '<tr>';
        if (prezioso == "S") {
            var nuovariga = '<tr style="font-weight:bold; color:limegreen">';
        }
        nuovariga += '<input type="hidden" value ="' + idVasca + '" class="hdVasca" />';
        nuovariga += '<input type="hidden" value ="-1" class="hdFaseProcesso" />';

        nuovariga += '<td>' + vasca + '</td>';
        nuovariga += '<td>' + materiale + '</td>';
        nuovariga += '<td>@Html.TextBox("txtDurata", "", new { @class = "form-control input-sm durata", @id = "txtDurata", @maxlength = "8" })</td>';
        nuovariga +='<td>@Html.TextBox("txtCorrente", "", new { @class = "form-control input-sm corrente", @onkeypress = "return FilterDecimal(event,this)", @oninput = "onDecimalInput(this,7,3)" })</td>';

        nuovariga += '<td> <a onclick="CambioSequenzaElemento(this,+1, )" title="Sposta in basso"><i class="fa fa-fw fa-arrow-down"></i></a></td>';
        nuovariga += '<td><a onclick="CambioSequenzaElemento(this,-1)" title="Sposta in alto"><i class="fa fa-fw fa-arrow-up"></i></a></td>';


        nuovariga += '<td><a title="Cancella" onClick="CancellaElemento(this)"><i class="fa fa-fw fa-remove"></i></a></td>';
        nuovariga += '<td></td>';

        nuovariga += '</tr>';

        $('#tblFasi').last().append(nuovariga);
    }
</script>
