@using MPIntranet.Models.Articolo
@model ArticoloModel
@{
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
}

<div class="content-top">
    <h2>Scheda Articolo</h2>
    <div style="display:inline-block; width:50%">
        @if ((ViewData["MenuAbilitati"] as List<decimal>).Contains(64))
        {
            <input type="button" onclick="SubmitForm(this);" class="btn btn-primary" value="Salva" />
        }
        <input type="button" onclick="EseguiChiudiArticolo();" class="btn btn-primary" value="Chiudi" />
        <input type="button" onclick="EseguiNuovaRicerca();" class="btn btn-primary" value="Nuova ricerca" />
    </div>
    <div style="display:inline-block; float:right">
        @if ((ViewData["MenuAbilitati"] as List<decimal>).Contains(63))
        {
            <input type="button" id="btnCancellaArticolo" onclick="ConfermaCancellaArticolo();" class="btn btn-primary" value="Cancella" />
        }
    </div>
</div>
<div id="ArticleScrolledContent" class="content-scheda" style="overflow-y:auto; overflow-x:hidden; height:500px">
    @Html.Hidden("hdIdBrand", Model.Brand.IdBrand)
    @Html.Hidden("hdIdArticolo", Model.IdArticolo)
    @Html.Hidden("hdIdColore", Model.Colore.IdColore)
    <div class="box" id="sectionDatiGenerali">
        <div class="box-header with-border">
            <h4 class="box-title text-bold">Dati Generali</h4>
            <div class="box-tools pull-right">
                <button id="btnCollapseDatiGenerali" type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-chevron-up"></i></button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body form-group-sm">
            @Html.Partial("DatiGeneraliPartial",Model)
        </div>

    </div>
    @if ((ViewData["MenuAbilitati"] as List<decimal>).Contains(66))
    {
        <div class="box box-primary" id="sectionProcessoGalvanico">
            <div class="box-header with-border">
                <h4 class="box-title text-bold">Processo Galvanico</h4>
                <div class="box-tools pull-right">
                    <button id="btnCollapseProcessoGalvanico" type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-chevron-up"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div id="divProcessoGalvanicoContainer"></div>
            </div>
        </div>
    }
    <div class="box box-primary" id="sectionDeroghe">
        <div class="box-header with-border">
            <h4 class="box-title text-bold">Deroghe</h4>
            <div class="box-tools pull-right">
                <button id="btnCollapseDeroghe" type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-chevron-up"></i></button>
            </div>
        </div>
        <div class="box-body">
            <div id="divDerogheContainer"></div>
        </div>
    </div>
    <div class="box box-primary" id="sectionPreventivo">
        <div class="box-header with-border">
            <h3 class="box-title text-bold">Preventivo</h3>
            <div class="box-tools pull-right">
                <button id="btnPreventivoSpeciali" type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-chevron-up"></i></button>
            </div>
        </div>
        <div class="box-body">
            <div id="divPreventivoContainer"></div>
        </div>
    </div>
    <div class="box box-primary" id="sectionPreserie">
        <div class="box-header with-border">
            <h3 class="box-title text-bold">Preserie</h3>
            <div class="box-tools pull-right">
                <button id="btnCollapsePreserie" type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-chevron-up"></i></button>
            </div>
        </div>
        <div class="box-body">
            <div id="divPreserieContainer"></div>
        </div>
    </div>
    <div class="box box-primary" id="sectionAltro">
        <div class="box-header with-border">
            <h3 class="box-title text-bold">Altro</h3>
            <div class="box-tools pull-right">
                <button id="btnCollapseAltro" type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-chevron-up"></i></button>
            </div>
        </div>
        <div class="box-body">
            <div id="divAltroContainer"></div>
        </div>
    </div>

    <br />
</div>


<script language="javascript" type="text/javascript">
    $(function () {
        CaricaProcessi();
    });

    function CaricaProcessi() {
         var idArticolo = $('#hdIdBrand').val();
          var url = '@Url.Action("CaricaProcessiPartial", "Articolo")';
         $.ajax({
                url: url,
                data: {
                    idArticolo: idArticolo
                },
                cache: false,
                type: "POST",
                success: function (data)
                {
                    $('#divProcessoGalvanicoContainer').html(data).show();
                },
                error: function (response)
                {
                    document.open();
                    document.write(response.responseText);
                    document.close();
                }
            });
    }

    function ConfermaCancellaArticolo() {
        
        var idArticolo = $('#hdIdBrand').val();
        if (idArticolo != null && idArticolo!='')
            ConfirmPopup("Eliminare l''articolo?", EseguiCancellaArticolo);
    }

    function EseguiCancellaArticolo() {
        
        var idArticolo = $('#hdIdBrand').val();
          var url = '@Url.Action("RimuoviArticolo", "Articolo")';
         $.ajax({
                url: url,
                data: {
                    idArticolo: idArticolo
                },
                cache: false,
                type: "POST",
                success: function (data)
                {
                    window.location.href =' @Url.Action("Index", "Home")'
                },
                error: function (response)
                {
                    document.open();
                    document.write(response.responseText);
                    document.close();
                }
            });
    }

     function EseguiChiudiArticolo()
        {
            var url = '/ARTICOLO/RICERCAARTICOLO/?TipoRicerca=1';
            window.location.href=url;
        }

    function EseguiNuovaRicerca() {
        var url = '/ARTICOLO/RICERCAARTICOLO/?TipoRicerca=1';
        window.location.href = url;
    }
</script>
