

@using MPIntranet.Business
@using MPIntranet.Models.Common

@model DocumentoCaricatoModel

@if ((ViewData["MenuAbilitati"] as List<decimal>).Contains(17))
{

    using (Html.BeginForm("AggiungiDocumento", "Documenti", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(model => model.IdEsterna, new { @id = "hfIdEsterna" })
        @Html.HiddenFor(model => model.TabellaEsterna, new { @id = "hfTabellaEsterna" })

        <div class="row">
            <div class="col-lg-1">
                @Html.Label("Tipo documento", new { @class = "input-sm" })
            </div>
            <div class="col-lg-2">
                @Html.DropDownListFor(model => model.SelectedTipoDocumento, new SelectList(Model.TipiDocumento, "Value", "Text"), new { @class = "form-control input-sm " })
            </div>
            <div class="col-lg-3">
                @Html.TextBoxFor(model => model.Attachment, new { type = "file" })

            </div>
            <div class="col-lg-3">
                <input type="submit" class="btn btn-primary" value="Upload" />
            </div>
        </div>

        <div class="row">
            <table id="grigliaDocumenti" class="table table-condensed table-hover">
                <thead style="background-color:aliceblue">
                    <tr>
                        <th width="5%"></th>
                        <th width="10%">Tipo documento</th>
                        <th width="10%">Filename</th>
                        <th width="5%">Estensione</th>

                        <th width="10%">Blocco lettura</th>
                        <th width="10%">Blocco scrittura</th>

                        <th width="2%"></th>
                        <th width="2%"></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Documento doc in Model.Documenti)
                    {
                        <tr>
                            <td>
                                @Html.ActionLink(" Estrai", "EstraiDocumento", "Documenti", new { IdDocumento = doc.IdDocumento }, new { target = "_blank" })
                            </td>
                            <td width="10%">@doc.TipoDocumento.Descrizione</td>
                            <td width="10%">@doc.Filename</td>
                            <td width="10%">@doc.Estensione</td>

                            <td width="10%">
                                <input type="checkbox" onchange="onBlocco(@doc.IdDocumento,this,@TipoBloccoDocumento.Lettura);" />
                            </td>
                            <td width="10%">
                                <input type="checkbox" onchange="onBlocco(@doc.IdDocumento,this,@TipoBloccoDocumento.Scrittura);" />
                            </td>

                            <td width="2%"></td>
                            <td width="2%"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="12">
                                <hr style="margin-bottom:10px; margin-top:10px !important" />
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>

    }

}

<script language="javascript" type="text/javascript">

    function onBlocco(idDocumento, sender, tipoBlocco) {
        
        var statoCheckbox = $(sender).prop("checked");

        var url = '@Url.Action("BloccoDocumento", "Documenti")';
         $.ajax({
                url: url,
                data: {
                    idDocumento: idDocumento,
                    stato: statoCheckbox
                },
                cache: false,
                type: "POST",
                success: function (data)
                {
                 CaricaDocumenti()
             },
                error: function (response)
                {
                    document.open();
                    document.write(response.responseText);
                    document.close();
                }
            });

    }

</script>
