@using MPIntranet.Business.SchedeProcesso
@model SpScheda

<div>
    @Html.Hidden("hdIDScheda", Model.IdSPScheda)
    @Html.Hidden("hdAnagrafica", Model.Anagrafica)
    @Html.Hidden("hdCodice", Model.Codice)
    @Html.Hidden("hdDescrizione", Model.Descrizione)
    @Html.Hidden("hdBrand", Model.Brand.IdBrand)
    @Html.Hidden("hdAreaProduzione", Model.Master.AreaProduzione)
    @Html.Hidden("hdTask", Model.Master.Task)
    @Html.Hidden("hdIdSPMaster", Model.Master.IdSPMaster)

    @foreach (SPElemento elemento in Model.Master.Elementi)
    {
    <div class="row">
        @if (elemento.Tipo == TipoSPElemento.SESSIONE)
        {
            <h3 style="background-color:lightgray">@elemento.Testo</h3>
        }
        else
        {
            string classe = "CTRL";
            string valoreElemento = string.Empty;
            if (elemento.Obbligatorio) { classe = "CTRL OBBLIGO"; }
            SPValoreScheda valore = Model.ValoriScheda.Where(x => x.IdSPElemento == elemento.IdSPElemento).FirstOrDefault();
            if (valore != null)
            {
                valoreElemento = valore.Valore;
            }
            <div class="col-lg-3"><label>@elemento.Controllo.Descrizione</label></div>
            switch (elemento.Controllo.Tipo)
            {
                case TipoSPControllo.CHECKBOX:
                    {
                        if (valoreElemento == "true")
                        {
                            <div class="col-lg-2"><input class="@classe" style="border:solid 1px #000" idvalore="@valore.IdSPValoreScheda" type="checkbox" id="@elemento.IdSPElemento.ToString()" checked /></div>
                        }
                        else
                        {
                            <div class="col-lg-2"><input class="@classe" style="border:solid 1px #000" idvalore="@valore.IdSPValoreScheda" type="checkbox" id="@elemento.IdSPElemento.ToString()" /></div>
                        }

                        break;
                    }
                case TipoSPControllo.DATA:
                    {
                        <div class="col-lg-2"><input class="@classe" type="date" idvalore="@valore.IdSPValoreScheda" value="@valoreElemento" id="@elemento.IdSPElemento.ToString()" /></div>
                        break;
                    }
                case TipoSPControllo.LISTA:
                    {
                        <div class="col-lg-2">
                            <select class="CTRL" idvalore="@valore.IdSPValoreScheda" id="@elemento.IdSPElemento.ToString()">
                                <option value=""></option>
                                @foreach (SPElementoLista listItem in elemento.Controllo.Elementi)
                                {
                                    if (@listItem.Descrizione == valoreElemento)
                                    {
                                        <option value="@listItem.Codice" selected>@listItem.Descrizione</option>
                                    }
                                    else
                                    {
                                        <option value="@listItem.Codice">@listItem.Descrizione</option>
                                    }
                                }
                            </select>
                        </div>
                        break;
                    }
                case TipoSPControllo.NUMERO:
                    {
                        <div class="col-lg-2"><input class="@classe" idvalore="@valore.IdSPValoreScheda" type="number" value="@valoreElemento" id="@elemento.IdSPElemento.ToString()" /></div>
                        break;
                    }
                case TipoSPControllo.TESTO:
                    {
                        <div class="col-lg-2"><input class="@classe" idvalore="@valore.IdSPValoreScheda" type="text" value="@valoreElemento" id="@elemento.IdSPElemento.ToString()" /></div>
                        break;
                    }
            }
            if (elemento.Obbligatorio)
            {
                <div class="col-lg-1 small text-red"><label>Obbligatorio</label></div>
            }
        }
    </div>
    }
</div>