@using MPIntranet.Business.SchedeProcesso
@model SPMaster

<div>
    @foreach (SPElemento elemento in Model.Elementi)
    {
    <div class="row">
        @if (elemento.Tipo == TipoSPElemento.SESSIONE)
        {
            <h3 style="background-color:lightgray">@elemento.Testo</h3>
        }
        else
        {
            string classe = "CTRL";
            if (elemento.Obbligatorio) { classe = "CTRL OBBLIGO"; }
            <div class="col-lg-3"><label>@elemento.Controllo.Descrizione</label></div>
            switch (elemento.Controllo.Tipo)
            {
                case TipoSPControllo.CHECKBOX:
                    {
                        <div class="col-lg-2"><input class="@classe" style="border:solid 1px #000  " type="checkbox" id="@elemento.IdSPElemento.ToString()" /></div>

                        break;
                    }
                case TipoSPControllo.DATA:
                    {
                        <div class="col-lg-2"><input class="@classe" type="date" id="@elemento.IdSPElemento.ToString()" /></div>
                        break;
                    }
                case TipoSPControllo.LISTA:
                    {
                        <div class="col-lg-2">
                            <select class="CTRL" id="@elemento.IdSPElemento.ToString()">
                                <option value=""></option>
                                @foreach (SPElementoLista listItem in elemento.Controllo.Elementi)
                                {
                                    <option value="@listItem.Codice">@listItem.Descrizione</option>
                                }
                            </select>
                        </div>
                        break;
                    }
                case TipoSPControllo.NUMERO:
                    {
                        <div class="col-lg-2"><input class="@classe" type="number" id="@elemento.IdSPElemento.ToString()" /></div>
                        break;
                    }
                case TipoSPControllo.TESTO:
                    {
                        <div class="col-lg-2"><input class="@classe" type="text" id="@elemento.IdSPElemento.ToString()" /></div>
                        break;
                    }
            }
            if (elemento.Obbligatorio)
            {
                <div class="col-lg-1 small text-red"><label>Obbligatorio</label></div>
            }
        }
    </div>
    }
</div>