@using MPIntranet.Models.Common
@{
    ViewBag.Title = "Schede Processo";
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
}


<div class="content-top">
    <h2>Schede Processo</h2>
</div>
<div class="content-scheda">
    @if ((ViewData["MenuAbilitati"] as List<decimal>).Contains(43))
    {
        <div class="row">
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-md-2">
                        @Html.Label("Brand")
                        @Html.DropDownList("ddlBrand", new SelectList(@ViewData["ddlBrand"] as List<MPIntranetListItem>, "Value", "Text"), new { @class = "form-control input-sm", @id = "ddlBrand" })
                    </div>

                    <div class="col-md-2">
                        @Html.Label("Anagrafica")
                        @Html.TextBox("txtAnagrafica", null, new { @class = "form-control input-sm ", @id = "txtAnagrafica", @maxlength = "25" })
                    </div>
                    <div class="col-md-2">
                        @Html.Label("Codice")
                        @Html.TextBox("txtCodice", null, new { @class = "form-control input-sm ", @id = "txtCodice", @maxlength = "12" })
                    </div>
                    <div class="col-md-3">
                        @Html.Label("Descrizione")
                        @Html.TextBox("txtDescrizione", null, new { @class = "form-control input-sm ", @id = "txtDescrizione", @maxlength = "50" })
                    </div>
                    <div class="col-md-1" style="padding-top:20px">
                        <input type="button" onclick="TrovaScheda()" class="btn btn-primary" value="Trova" />
                    </div>
                    <div class="col-md-1" style="padding-top:20px">
                        <input type="button" onclick="PulisciRicerca()" class="btn btn-primary" value="Cancella ricerca" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        @Html.Label("Area produzione")
                        @Html.DropDownList("ddlAreaProduzione", new SelectList(@ViewData["ddlAreaProduzione"] as List<MPIntranetListItem>, "Value", "Text"), new { @class = "form-control input-sm", @id = "ddlAreaProduzione" })
                    </div>

                    <div class="col-md-3">
                        @Html.Label("Task")
                        @Html.DropDownList("ddlTasks", Enumerable.Empty<SelectListItem>(), new { @class = "form-control input-sm", @id = "ddlTasks" })
                    </div>

                    <div class="col-md-4">
                        @Html.Label("Master")
                        @Html.DropDownList("ddlSPMasters", Enumerable.Empty<SelectListItem>(), new { @class = "form-control input-sm", @id = "ddlSPMasters" })
                    </div>

                </div>
            </div>
            <div class="col-lg-3">
                <div class="row col-lg-12">
                    <img style="height:auto; max-height:320px; max-width:100%; display: block; margin: auto;" src="">
                </div>
                <div class="row">
                    <input type="file" id="files" name="files" />
                    <input type="button" id="Upload" value="Upload" class="btn btn-primary" />
                </div>
            </div>
        </div>
        <div class="row">
            <label class="text-red input-sm" id="lblMessage"></label>
            <br />
        </div>

        <div id="divRisultati" style="overflow-y:auto; overflow-x:hidden; height:500px"></div>

        <div class="row col-lg-12">
            <div class="col-md-2" style="padding-top:20px">
                <input type="button" onclick="SalvaScheda()" class="btn btn-primary" value="Salva" />
            </div>

        </div>
    }
</div>

<script language="javascript" type="text/javascript">
    $(function ()
    {
        $("#ddlTasks").change(function () {

            var selectedText = $(this).find("option:selected").text();
            var selectedValue = $(this).val();
            var areaProduzione = $('#ddlAreaProduzione').val();
            $('#divRisultati').html('').show();
            getMaster(areaProduzione,selectedValue,'');
        });

        $("#ddlAreaProduzione").change(function () {
            var selectedText = $(this).find("option:selected").text();
            var selectedValue = $(this).val();
            var task = $('#ddlTasks').val();

            $('#divRisultati').html('').show();
            getTasks(selectedValue, task,'');
        });
        $("#ddlSPMasters").change(function () {
            var selectedText = $(this).find("option:selected").text();
            var selectedValue = $(this).val();
            getSchedaProcesso(selectedValue);
        });

        $('#Upload').click(function () {

            var fileUpload = $("#files").get(0);
            var files = fileUpload.files;

            var fileData = new FormData();

            for (var i = 0; i < files.length; i++) {
                fileData.append(files[i].name, files[i]);
            }

            // eventuali chiavi aggiunte vanno inserite qui... le ritrovi nel controller come elementi della form
            fileData.append('Test', "Test Object values");

            var url = '@Url.Action("UploadFile", "SchedeProcesso")';

            $.ajax({
                url: url,
                type: "POST",
                processData: false,
                contentType: false,
                data: fileData,
                success: function (result) {
                    alert(result);
                },
                error: function (err) {
                    alert(err.statusText);
                }
            });

        });


    });

     function getSchedaProcesso(master) {
          var url = '@Url.Action("GetSchedaProcesso", "SchedeProcesso")';
                $.ajax({
                    url: url,
                    data: { Master: master},
                    cache: false,
                    type: "POST",
                    success: function (data) {
                        $('#divRisultati').html(data).show();
                    },
                    error: function (response) {
                        document.open();
                        document.write(response.responseText);
                        document.close();
                    }
                });
    }

    function getTasks(AreaProduzione,selectedValue) {
          var url = '@Url.Action("GetTasks", "SchedeProcesso")';
                var procemessage = "<option value='0'> Attendere...</option>";
                $('#ddlTasks').html(procemessage).show();
                $.ajax({
                    url: url,
                    data: { AreaProduzione: AreaProduzione},
                    cache: false,
                    type: "POST",
                    success: function (data) {
                        var markup = '';
                        for (var x = 0; x < data.length; x++) {
                            markup += '<option value="' + data[x].Value + '">' + data[x].Text + '</option>';
                        }
                        $('#ddlTasks').html(markup).show();
                        $('#ddlTasks').val(selectedValue);
                    },
                    error: function (response) {
                        document.open();
                        document.write(response.responseText);
                        document.close();
                    }
                });
    }
    function getMaster(AreaProduzione, task, selectedValue) {
          var url = '@Url.Action("GetMaster", "SchedeProcesso")';
                var procemessage = "<option value='0'> Attendere...</option>";
             $('#ddlSPMasters').html(procemessage).show();
                $.ajax({
                    url: url,
                    data: { AreaProduzione: AreaProduzione, Task:task},
                    cache: false,
                    type: "POST",
                    success: function (data) {
                        var markup = '';
                        for (var x = 0; x < data.length; x++) {
                            markup += '<option value="' + data[x].Value + '">' + data[x].Text + '</option>';
                        }
                        $('#ddlSPMasters').html(markup).show();
                        $('#ddlSPMasters').val(selectedValue);
                    },
                    error: function (response) {
                        document.open();
                        document.write(response.responseText);
                        document.close();
                    }
                });
    }

    function SalvaScheda()
    {
        var idMaster = $('#ddlSPMasters').val();
        var codice = $('#txtCodice').val();
        var descrizione = $('#txtDescrizione').val();
        var task = $('#ddlTasks').val();
        var areaProduzione = $('#ddlAreaProduzione').val();
        var idSPScheda = $('#hdIDScheda').val();

        var brand = $('#ddlBrand').val();
        var anagrafica = $('#txtAnagrafica').val();

        codice = codice.toUpperCase();
        descrizione = descrizione.toUpperCase();
        anagrafica = anagrafica.toUpperCase();
        $('#txtCodice').val(codice);
        $('#txtDescrizione').val(descrizione);
        $('#txtAnagrafica').val(anagrafica);

        var esito = true;
        var messaggio = '';

        if (idMaster == null) idMaster = -1;

        if (descrizione == '') {
            esito = false;
            messaggio += MESSAGGIO_PUNTINO + " " + "Descrizione" + " " + MESSAGGIO_DEVE_ESSERE_VALORIZZATO + "</br>";
        }


        if (task == '' ) {
            esito = false;
            messaggio += MESSAGGIO_PUNTINO + " " + "Task" + " " + MESSAGGIO_DEVE_ESSERE_VALORIZZATO + "</br>";
        }
        if (areaProduzione == '') {
            esito = false;
            messaggio += MESSAGGIO_PUNTINO + " " + "Area produzione" + " " + MESSAGGIO_DEVE_ESSERE_VALORIZZATO + "</br>";
        }
        if (idMaster == -1) {
            esito = false;
            messaggio += MESSAGGIO_PUNTINO + " " + "Master" + " " + MESSAGGIO_DEVE_ESSERE_VALORIZZATO + "</br>";
        }
        if (brand == '-1') {
            esito = false;
            messaggio += MESSAGGIO_PUNTINO + " " + "Brand" + " " + MESSAGGIO_DEVE_ESSERE_VALORIZZATO + "</br>";
        }
        if (anagrafica == '') {
            esito = false;
            messaggio += MESSAGGIO_PUNTINO + " " + "Anagrafica" + " " + MESSAGGIO_DEVE_ESSERE_VALORIZZATO + "</br>";
        }
        if (!verificaControlliObbligatori()) {
            esito = false;
            messaggio += MESSAGGIO_PUNTINO + " " + "I controlli obbligatori devono essere valorizzati </br>";
        }
        $('#lblMessage').html(messaggio);
        if(!esito) return;

        var controlli = getTabellaValori();
        var lista = JSON.stringify(controlli);
        var url = '@Url.Action("AggiornaSchedaProcesso", "SchedeProcesso")';
        $.ajax({
            url: url,
            data: {
                IdSPScheda:idSPScheda,
                IdSPMaster: idMaster,
                Codice: codice,
                Descrizione: descrizione,
                Task: task,
                AreaProduzione: areaProduzione,
                Brand: brand,
                Anagrafica: anagrafica,
                Controlli: lista
            },
            cache: false,
            type: "POST",
            success: function (data)
            {
                $('#lblMessage').html(data);
                if (data == 'Scheda salvata correttamente')
                    svuotaCampi();
            },
            error: function (response)
            {
                document.open();
                document.write(response.responseText);
                document.close();
            }
        });
    }

    function getTabellaValori() {

        var data = [];
        var controlli = $('.CTRL');
        for (i = 0; i < controlli.length; i++) {
            var controllo = controlli[i];
            var idValore = $(controllo).attr('idvalore');
            if (idValore == '' || idValore == null) idValore = -1;
            var type = $(controllo).prop('type');
            var valore = '';
            if (type == 'checkbox')
                valore = $(controllo).prop('checked');
            else if (type == 'select-one')
                valore = $(controllo).find("option:selected").text();
            else
                valore = $(controllo).val();

            var id = $(controllo).prop('id');
            var filename = '';
            var filedata = null;
            if (type == 'file') {
                var fileUpload = $(controllo).get(0);
                var files = fileUpload.files;
                valore = '';
                if (files.length>0) {
                    filename = files[0].name;
                    var idImmagineSelezionata = '#IMG_' + id;
                    filedata = $(idImmagineSelezionata).attr("src");
                }
            }

            var dato = {
                'IDElemento': id, 'Valore': valore, 'IDValore': idValore, 'Filename': filename, 'Filedata': filedata };
            data.push(dato);
        }
        return data;
    }


    function verificaControlliObbligatori() {
        var esito = true;
        var controlli = $('.OBBLIGO');
        for (i = 0; i < controlli.length; i++) {
            var controllo = controlli[i];
            var type = $(controllo).prop('type');
            if (type != 'checkbox') {
                var valore = $(controllo).val();
                if (valore == '' || valore == null) esito = false;
            }

            if (type == 'file') {
                esito = true;
                var filedata = null;
                var id = $(controllo).prop('id');
                valore = '';
                var idImmagineSelezionata = '#IMG_' + id;
                filedata = $(idImmagineSelezionata).attr("src");
                if (filedata.length <= 0) esito = false;
            }
        }
        return esito;
    }

    function TrovaScheda() {

        var codice = $('#txtCodice').val();
        var descrizione = $('#txtDescrizione').val();
        var brand = $('#ddlBrand').val();
        var anagrafica = $('#txtAnagrafica').val();

        codice = codice.toUpperCase();
        descrizione = descrizione.toUpperCase();
        anagrafica = anagrafica.toUpperCase();
        $('#txtCodice').val(codice);
        $('#txtDescrizione').val(descrizione);
        $('#txtAnagrafica').val(anagrafica);


           var url = '@Url.Action("TrovaScheda", "SchedeProcesso")';
        $.ajax({
            url: url,
            data: {
                Codice: codice,
                Descrizione: descrizione,
                Brand: brand,
                Anagrafica: anagrafica
            },
            cache: false,
            type: "POST",
            success: function (data)
            {
                $('#divRisultati').html(data).show();
            },
            error: function (response)
            {
                document.open();
                document.write(response.responseText);
                document.close();
            }
        });
    }

     function EstraiScheda(idSPScheda) {
           var url = '@Url.Action("EstraiScheda", "SchedeProcesso")';
        $.ajax({
            url: url,
            data: {
                IdSPScheda: idSPScheda
            },
            cache: false,
            type: "POST",
            success: function (data)
            {
                $('#divRisultati').html(data).show();

                $('#txtCodice').val($('#hdCodice').val());
                $('#txtDescrizione').val($('#hdDescrizione').val());
                $('#txtAnagrafica').val($('#hdAnagrafica').val());
                $('#ddlBrand').val($('#hdBrand').val());

                var task = $('#hdTask').val();
                var area = $('#hdAreaProduzione').val();
                var master = $('#hdIdSPMaster').val();
                $('#ddlAreaProduzione').val(area);
                getTasks(area, task);
                getMaster(area, task, master);

            },
            error: function (response)
            {
                document.open();
                document.write(response.responseText);
                document.close();
            }
        });
    }
    function PulisciRicerca() {

        $('#divRisultati').html('').show();

        $('#ddlBrand').val('@MPIntranet.Entities.ElementiVuoti.Brand');
        $('#txtAnagrafica').val('');
        $('#txtCodice').val('');
        $('#txtDescrizione').val('');
    }
</script>
