
@{
    ViewBag.Title = "Impianti";
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
}


<div class="content-top">
    <h2>Gestione Impianti</h2>
</div>
<div id="ArticleScrolledContent" class="content-scheda" style="overflow-y:auto; overflow-x:hidden">
    @if ((ViewData["MenuAbilitati"] as List<decimal>).Contains(36))
    {
        <div class="row col-lg-12">
            <table class="table">
                <thead>
                    <tr>
                        <th width="30%">Descrizione</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th width="30%">
                            @Html.TextBox("txtDescrizione", null, new { @class = "form-control input-sm spcLocalSearchField", @id = "txtDescrizione", @maxlength = "50" })
                        </th>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row col-lg-2">
            <div style="display:inline-block; width:50%">
                <input type="button" onclick="AggiungiNuovo();" class="btn btn-primary" value="Nuovo brand" />
            </div>
        </div>
    }
    <label class="text-red input-sm" id="lblMessage"></label>
    <br />
    <div class="col-md-12" id="divRisultati">

    </div>
</div>

<script language="javascript" type="text/javascript">
    $(function ()
    {
        caricaDati();
    });

    function CancellaImpianto(idImpianto) {
     var url = '@Url.Action("RimuoviImpianto", "Galvanica")';
            $.ajax({
                url: url,
                data: {
                    idImpianto: idImpianto
                },
                cache: false,
                type: "POST",
                success: function (data)
                {
                    caricaDati();
                },
                error: function (response)
                {
                    document.open();
                    document.write(response.responseText);
                    document.close();
                }
            });
    }

    function caricaDati() {
         var url = '@Url.Action("CaricaImpianti", "Galvanica")';
        $.ajax({
            url: url,
            data: {
            },
            cache: false,
            type: "POST",
            success: function (data)
            {
                $('#divRisultati').html(data).show();
            },
            error: function (response)
            {
                document.open();
                document.write(response.responseText);
                document.close();
            }
        });
    }

    function AggiungiNuovo()
    {
        var descrizione = $('#txtDescrizione').val();

        var esito = true;
        var messaggio = '';

        if (descrizione =='' )
        {
            esito=false;
            messaggio += MESSAGGIO_PUNTINO + " " + "Descrizione" + " " + MESSAGGIO_DEVE_ESSERE_VALORIZZATO + "</br>";
        }

        $('#lblMessage').html(messaggio);
        if(!esito) return;


        var url = '@Url.Action("CreaImpianto", "Galvanica")';
        $.ajax({
            url: url,
            data: {
                descrizione: descrizione
            },
            cache: false,
            type: "POST",
            success: function (data)
            {

                if (data == null || data == '') {
                    caricaDati();
                }
                else {
                    $('#lblMessage').html(data);
                }
            },
            error: function (response)
            {
                document.open();
                document.write(response.responseText);
                document.close();
            }
        });
    }

    function ModificaImpianto(sender, idImpianto)
    {
          var parent = $(sender).closest('tr');
          var tds = parent.find('td');

        var descrizione = $(parent).find('#txtDescrizioneS').val();

        var esito = true;
        var messaggio = '';

        if (descrizione =='' )
        {
            esito=false;
            messaggio += MESSAGGIO_PUNTINO + " " + "Descrizione" + " " + MESSAGGIO_DEVE_ESSERE_VALORIZZATO + "</br>";
        }

        $('#lblMessage').html(messaggio);
        if(!esito) return;


        var url = '@Url.Action("ModificaImpianto", "Galvanica")';
        $.ajax({
            url: url,
            data: {
                idImpianto: idImpianto,
                descrizione: descrizione
            },
            cache: false,
            type: "POST",
            success: function (data)
            {

                if (data == null || data == '') {
                    caricaDati();
                }
                else {
                    $('#lblMessage').html(data);
                }
            },
            error: function (response)
            {
                document.open();
                document.write(response.responseText);
                document.close();
            }
        });
    }
</script>
