

@using MPIntranet.Models.Galvanica
@model List<VascaModel>

@if (Model != null && Model.Count() == 0)
{
    <text><b>Nessun risultato trovato</b></text>
}
else
{
    <table id="grigliaRisultati" class="table table-condensed table-hover">
        <thead style="background-color:aliceblue">
            <tr>
                <th width="20%">Descrizione breve</th>
                <th width="30%">Descrizione</th>
                <th width="8%">Abilita strato</th>
                <th width="10%">Materiale</th>
                <th width="15%">Impianto</th>
                <th width="2%"></th>
                <th width="2%"></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (VascaModel td in Model)
            {
            <tr>
                <td width="20%">
                    @Html.TextBox("txtDescrizioneBreveS", td.DescrizioneBreve, new { @class = "form-control input-sm", @id = "txtDescrizioneBreveS", @maxlength = "30" })
                </td>
                <td width="30%">
                    @Html.TextBox("txtDescrizioneS", td.Descrizione, new { @class = "form-control input-sm", @id = "txtDescrizioneS", @maxlength = "60" })
                </td>
                <td width="8%">
                    @Html.CheckBox("chkAbilitaS", td.AbilitaStato)
                </td>
                <td width="10%">
                    @td.Materiale
                </td>
                <td width="15%">
                    @td.Impianto
                </td>
                <td align="right">
                    @if ((ViewData["MenuAbilitati"] as List<decimal>).Contains(43))
                    {
                        <a onclick="ModificaVasca(this,@td.IdVasca)" title="Modifica"><i class="fa fa-fw fa-pencil"></i></a>
                    }
                </td>
                <td align="right">
                    @if ((ViewData["MenuAbilitati"] as List<decimal>).Contains(42))
                    {
                        <a onclick="CancellaVasca(@td.IdVasca)" title="Cancella"><i class="fa fa-fw fa-remove"></i></a>
                    }
                </td>
                <td></td>
            </tr>

            }
        </tbody>
    </table>
}

