@using MPIntranet.Models.Common
@{
    ViewBag.Title = "Telai";
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
}


<div class="content-top">
    <h2>Gestione Telai</h2>
</div>

<div class="content-scheda" style="overflow-y:auto; overflow-x:hidden">
    @if ((ViewData["MenuAbilitati"] as List<decimal>).Contains(51))
    {
        <div class="row col-lg-12">
            <table class="table">
                <thead>
                    <tr>
                        <th width="15%">Codice</th>
                        <th width="10%">Pezzi</th>
                        <th width="15%">Tipo montaggio</th>
                        <th width="10%">Costo standard</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @Html.TextBox("txtCodice", null, new { @class = "form-control input-sm ", @id = "txtCodice", @maxlength = "10" })
                        </td>
                        <td>
                            @Html.TextBox("txtPezzi", null, new { @class = "form-control input-sm ", @type = "number", @min = "0", @id = "txtPezzi" })
                        </td>
                        <td>
                            @Html.DropDownList("ddlTipoMontaggio", new SelectList(ViewData["TipiMontaggio"] as List<MPIntranetListItem>, "Value", "Text"), new { @class = "form-control input-sm", @id = "ddlTipoMontaggio" })
                        </td>
                        <td>
                            @Html.TextBox("txtCosto", null, new { @class = "form-control input-sm corrente", @onkeypress = "return FilterDecimal(event,this)", @oninput = "onDecimalInput(this,7,4)" })
                        </td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row col-lg-2">
            <div style="display:inline-block; width:50%">
                <input type="button" onclick="AggiungiNuovo();" class="btn btn-primary" value="Nuovo telaio" />
            </div>
        </div>
    }
    <label class="text-red input-sm" id="lblMessage"></label>
    <br />
    <div class="col-md-12" id="divRisultati" style="overflow-y:auto; overflow-x:hidden; height:750px">

    </div>
</div>

<script language="javascript" type="text/javascript">
    $(function ()
    {
        caricaDati();
    });

    function CancellaTelaio(idTelaio) {
     var url = '@Url.Action("RimuoviTelaio", "Galvanica")';
            $.ajax({
                url: url,
                data: {
                    IdTelaio: idTelaio
                },
                cache: false,
                type: "POST",
                success: function (data)
                {
                    caricaDati();
                },
                error: function (response)
                {
                    document.open();
                    document.write(response.responseText);
                    document.close();
                }
            });
    }

    function caricaDati() {
         var url = '@Url.Action("CaricaTelai", "Galvanica")';
        $.ajax({
            url: url,
            data: {
            },
            cache: false,
            type: "POST",
            success: function (data)
            {
                $('#divRisultati').html(data).show();
            },
            error: function (response)
            {
                document.open();
                document.write(response.responseText);
                document.close();
            }
        });
    }

    function AggiungiNuovo()
    {
        debugger;
        var codice = $('#txtCodice').val();
        var pezzi = $('#txtPezzi').val();
        var tipoMontaggio = $('#ddlTipoMontaggio').val();
        var costo = $('#txtCosto').val();

        var esito = true;
        var messaggio = '';

        if (codice =='' )
        {
            esito=false;
            messaggio += MESSAGGIO_PUNTINO + " " + "Codice" + " " + MESSAGGIO_DEVE_ESSERE_VALORIZZATO + "</br>";
        }

        if (pezzi == null || pezzi == '') pezzi = 0;
        if (tipoMontaggio == null || tipoMontaggio == '') tipoMontaggio = '';
        if (costo == null || costo == '') costo = 0;

        $('#lblMessage').html(messaggio);
        if(!esito) return;

        costo = costo.replace('.', ',');

        var url = '@Url.Action("CreaTelaio", "Galvanica")';
        $.ajax({
            url: url,
            data: {
                Codice: codice,
                Pezzi: pezzi,
                TipoMontaggio: tipoMontaggio,
                Costo:costo
            },
            cache: false,
            type: "POST",
            success: function (data)
            {

                if (data == null || data == '') {
                    caricaDati();
                    $('#txtCodice').val('');
                    $('#txtPezzi').val('');
                    $('#txtTipoMontaggio').val('');
                    $('#txtCosto').val('');
                }
                else {
                    $('#lblMessage').html(data);
                }
            },
            error: function (response)
            {
                document.open();
                document.write(response.responseText);
                document.close();
            }
        });
    }

    function ModificaTelaio(sender, idTelaio)
    {
          var parent = $(sender).closest('tr');
          var tds = parent.find('td');

        var costo = $(parent).find('#txtCostoS').val();

        if (costo == null || costo == '') costo = 0;

        costo = costo.replace('.', ',');

        var url = '@Url.Action("ModificaTelaio", "Galvanica")';
        $.ajax({
            url: url,
            data: {
                IdTelaio: idTelaio,
                Costo: costo
            },
            cache: false,
            type: "POST",
            success: function (data)
            {

                if (data == null || data == '') {
                    caricaDati();
                }
                else {
                    $('#lblMessage').html(data);
                }
            },
            error: function (response)
            {
                document.open();
                document.write(response.responseText);
                document.close();
            }
        });
    }
</script>
