
@{
    ViewBag.Title = "Brand";
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
}


<div class="content-top">
    <h2>Gestione Brand</h2>
</div>
<div id="ArticleScrolledContent" class="content-scheda" style="overflow-y:auto; overflow-x:hidden">
    @if ((ViewData["MenuAbilitati"] as List<decimal>).Contains(16))
    {
        <div class="row col-lg-12">
            <table class="table">
                <thead>
                    <tr>
                        <th width="15%">Brand</th>
                        <th width="10%">Codice gestionale</th>
                        <th width="8%">Prefisso colore</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="15%">
                            @Html.TextBox("txtBrand", null, new { @class = "form-control input-sm ", @id = "txtBrand", @maxlength = "20" })
                        </td>
                        <th width="10%">
                            @Html.TextBox("txtCodiceGestionale", null, new { @class = "form-control input-sm ", @id = "txtCodiceGestionale", @maxlength = "8" })
                        </th>
                        <th width="8%">
                            @Html.TextBox("txtPrefissoColore", null, new { @class = "form-control input-sm ", @id = "txtPrefissoColore", @maxlength = "2" })
                        </th>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row col-lg-2">
            <div style="display:inline-block; width:50%">
                <input type="button" onclick="AggiungiNuovo();" class="btn btn-primary" value="Nuovo brand" />
            </div>
        </div>
    }
    <label class="text-red input-sm" id="lblMessage"></label>
    <br />
    <div class="col-md-12" id="divRisultati">

    </div>
</div>

<script language="javascript" type="text/javascript">
    $(function ()
    {
        caricaDati();
    });

    function CancellaBrand(idBrand) {
     var url = '@Url.Action("RimuoviBrand", "Anagrafica")';
            $.ajax({
                url: url,
                data: {
                    idBrand: idBrand
                },
                cache: false,
                type: "POST",
                success: function (data)
                {
                    caricaDati();
                },
                error: function (response)
                {
                    document.open();
                    document.write(response.responseText);
                    document.close();
                }
            });
    }

    function caricaDati() {
         var url = '@Url.Action("CaricaBrand", "Anagrafica")';
        $.ajax({
            url: url,
            data: {
            },
            cache: false,
            type: "POST",
            success: function (data)
            {
                $('#divRisultati').html(data).show();
            },
            error: function (response)
            {
                document.open();
                document.write(response.responseText);
                document.close();
            }
        });
    }

    function AggiungiNuovo()
    {
        var brand = $('#txtBrand').val();
        var codiceGestionale = $('#txtCodiceGestionale').val();
        var prefissoColore = $('#txtPrefissoColore').val();

        var esito = true;
        var messaggio = '';

        if (brand =='' )
        {
            esito=false;
            messaggio += MESSAGGIO_PUNTINO + " " + "Brand" + " " + MESSAGGIO_DEVE_ESSERE_VALORIZZATO + "</br>";
        }

        if (prefissoColore == '') {
            esito = false;
            messaggio += MESSAGGIO_PUNTINO + " " + "Prefisso colore" + " " + MESSAGGIO_DEVE_ESSERE_VALORIZZATO + "</br>";
        }

        $('#lblMessage').html(messaggio);
        if(!esito) return;


        var url = '@Url.Action("CreaBrand", "Anagrafica")';
        $.ajax({
            url: url,
            data: {
                brand: brand,
                codiceGestionale: codiceGestionale,
                prefissoColore: prefissoColore
            },
            cache: false,
            type: "POST",
            success: function (data)
            {

                if (data == null || data == '') {
                    caricaDati();
                }
                else {
                    $('#lblMessage').html(data);
                }
            },
            error: function (response)
            {
                document.open();
                document.write(response.responseText);
                document.close();
            }
        });
    }

    function ModificaBrand(sender, idBrand)
    {
          var parent = $(sender).closest('tr');
          var tds = parent.find('td');

        var brand = $(parent).find('#txtBrandS').val();
        var codiceGestionale = $(parent).find('#txtCodiceGestionaleS').val();
        var prefissoColore = $(parent).find('#txtPrefissoColoreS').val();

        var esito = true;
        var messaggio = '';

        if (brand =='' )
        {
            esito=false;
            messaggio += MESSAGGIO_PUNTINO + " " + "Brand" + " " + MESSAGGIO_DEVE_ESSERE_VALORIZZATO + "</br>";
        }

        if (prefissoColore == '') {
            esito = false;
            messaggio += MESSAGGIO_PUNTINO + " " + "Prefisso colore" + " " + MESSAGGIO_DEVE_ESSERE_VALORIZZATO + "</br>";
        }

        $('#lblMessage').html(messaggio);
        if(!esito) return;


        var url = '@Url.Action("ModificaBrand", "Anagrafica")';
        $.ajax({
            url: url,
            data: {
                idBrand: idBrand,
                brand: brand,
                codiceGestionale: codiceGestionale,
                prefissoColore: prefissoColore
            },
            cache: false,
            type: "POST",
            success: function (data)
            {

                if (data == null || data == '') {
                    caricaDati();
                }
                else {
                    $('#lblMessage').html(data);
                }
            },
            error: function (response)
            {
                document.open();
                document.write(response.responseText);
                document.close();
            }
        });
    }
</script>
