
@{
    ViewBag.Title = "Materiali";
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
}


<div class="content-top">
    <h2>Gestione Materiali</h2>
</div>
<div id="ArticleScrolledContent" class="content-scheda" style="overflow-y:auto; overflow-x:hidden">
    @if ((ViewData["MenuAbilitati"] as List<decimal>).Contains(26))
    {
        <div class="row col-lg-12">
            <table class="table">
                <thead>
                    <tr>
                        <th width="10%">Codice</th>
                        <th width="20%">Descrizione</th>
                        <th width="8%">Prezioso</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="10%">
                            @Html.TextBox("txtCodice", null, new { @class = "form-control input-sm ", @id = "txtCodice", @maxlength = "8" })
                        </td>
                        <td width="20%">
                            @Html.TextBox("txtDescrizione", null, new { @class = "form-control input-sm ", @id = "txtDescrizione", @maxlength = "25" })
                        </td>
                        <td width="8%">
                            @Html.CheckBox("chkPrezioso")
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row col-lg-2">
            <div style="display:inline-block; width:50%">
                <input type="button" onclick="AggiungiNuovo();" class="btn btn-primary" value="Nuovo materiale" />
            </div>
        </div>
    }
    <label class="text-red input-sm" id="lblMessage"></label>
    <br />
    <div class="col-md-12" id="divRisultati">

    </div>
</div>

<script language="javascript" type="text/javascript">
    $(function ()
    {
        caricaDati();
    });

    function CancellaMateriale(idMateriale) {
     var url = '@Url.Action("RimuoviMateriale", "Anagrafica")';
            $.ajax({
                url: url,
                data: {
                    idMateriale: idMateriale
                },
                cache: false,
                type: "POST",
                success: function (data)
                {
                    caricaDati();
                },
                error: function (response)
                {
                    document.open();
                    document.write(response.responseText);
                    document.close();
                }
            });
    }

    function caricaDati() {
         var url = '@Url.Action("CaricaMateriali", "Anagrafica")';
        $.ajax({
            url: url,
            data: {
            },
            cache: false,
            type: "POST",
            success: function (data)
            {
                $('#divRisultati').html(data).show();
            },
            error: function (response)
            {
                document.open();
                document.write(response.responseText);
                document.close();
            }
        });
    }

    function AggiungiNuovo()
    {
        var codice = $('#txtCodice').val();
        var descrizione = $('#txtDescrizione').val();
        var prezioso = $('#chkPrezioso').prop('checked');

        var esito = true;
        var messaggio = '';

        if (codice =='' )
        {
            esito=false;
            messaggio += MESSAGGIO_PUNTINO + " " + "Codice" + " " + MESSAGGIO_DEVE_ESSERE_VALORIZZATO + "</br>";
        }

        if (descrizione == null) descrizione = '';

        $('#lblMessage').html(messaggio);
        if(!esito) return;


        var url = '@Url.Action("CreaMateriale", "Anagrafica")';
        $.ajax({
            url: url,
            data: {
                codice: codice,
                descrizione: descrizione,
                prezioso, prezioso
            },
            cache: false,
            type: "POST",
            success: function (data)
            {

                if (data == null || data == '') {
                    caricaDati();
                }
                else {
                    $('#lblMessage').html(data);
                }
            },
            error: function (response)
            {
                document.open();
                document.write(response.responseText);
                document.close();
            }
        });
    }

    function ModificaMateriale(sender, idMateriale)
    {
          var parent = $(sender).closest('tr');
          var tds = parent.find('td');
        var codice = $(parent).find('#txtCodiceS').val();
        var descrizione = $(parent).find('#txtDescrizioneS').val();
        var prezioso = $(parent).find('#chkPreziosoS').prop('checked');

        var esito = true;
        var messaggio = '';

        if (codice =='' )
        {
            esito=false;
            messaggio += MESSAGGIO_PUNTINO + " " + "Codice" + " " + MESSAGGIO_DEVE_ESSERE_VALORIZZATO + "</br>";
        }

        if (descrizione == null) descrizione = '';

        $('#lblMessage').html(messaggio);
        if(!esito) return;


        var url = '@Url.Action("ModificaMateriale", "Anagrafica")';
        $.ajax({
            url: url,
            data: {
                idMateriale: idMateriale,
                codice: codice,
                descrizione: descrizione,
                prezioso: prezioso
            },
            cache: false,
            type: "POST",
            success: function (data)
            {

                if (data == null || data == '') {
                    caricaDati();
                }
                else {
                    $('#lblMessage').html(data);
                }
            },
            error: function (response)
            {
                document.open();
                document.write(response.responseText);
                document.close();
            }
        });
    }
</script>
